@* list Template File *@
@(loginForm: Form[controllers.Authentication.LoginInfo])(implicit session: Session, flash: Flash)

@import views.html.helper._

@implicitField = @{ FieldConstructor(horizontalFormTB.f) }


@main(Messages("application.name")) {
	<div class="row">
	<div class="col-md-6">
	<div class="panel panel-default">
	<div class="panel-heading">Login Form</div>
 	 <div class="panel-body">
    
 
	
	@helper.form(action = routes.Authentication.authenticate, 'class -> "form-horizontal") {
		
        @loginForm.globalErrors.map { error =>
            <span class="error">@Messages(error.message)</span>
        }

		@inputText(loginForm("email"), '_label -> "Email", 'class-> "form-control", 'placeholder-> "email")
		@inputPassword(loginForm("password"), '_label -> "Password", 'class-> "form-control", 'placeholder-> "password")
	              
  
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> Remember me
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default">Sign in</button>
		    </div>
		  </div>
      }
 </div>
</div>
</div>
</div>
	
}
